

<nav class="navbar navbar-default">
  <div class="container-fluid">
 
          <div class="navbar-form navbar-left">

            <h5> </h5>
          </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		
		  <form class="navbar-form navbar-right">
					<input type="text" ng-model="search" class="form-control input-xs" placeholder="Search">
		  </form>

	</div>
  </div><!-- /.container-fluid -->
</nav>
			
			<div class="panel panel-success">
				<div class="panel-heading">
								  <table class="table table-condensed">

									<tr>
										<td><h6><small>Send patient file</small></h6></td>
										<td><h6><small>                        
											<a href="" class="fa fa-share" ng-click="showUpload()"></a>
											</small></h6>
										</td>
									</tr>									
									<tr>
										<td><h6><small>Check send results</small></h6></td>
										<td><h6><small>
											<a href="" class="fa fa-reply" ng-click="showM(3,'Detail',getRealIndex(patient),'1')"></a>
										</small></h6></td>
									</tr>
									
					</table>		
				<!--	<div><pre lang="xml">{{ patients}}</pre></div>-->
                	<div><pre>{{ patients}}</pre></div>
                   
                    </div>
                  
				</div>
 
