<nav class="navbar navbar-default">
  <div class="container-fluid">
 
		<h4><small><div id="datepicker1">Please submit your nomination for the MAC Athlete that in your opinion fully embodies the MAC club in all aspects.</div></small></h4>
  
  </div><!-- /.container-fluid -->
</nav>		
								
			<div class="panel panel-success">

					
					<table class="table table-condensed;table bg-success" >
						<tr>
							<td style="padding:0px">
								<h4><small><div id="datepicker1"></div></small></h4>
							</td>
							<td>
					
					
					

						</td>
					</tr>
					
				</table>
	


	</div>

   <!-- FORM TO CREATE TODOS -->
        <div id="member-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="hidden"  class="form-control input-sm text-center" value="3" ng-model="formData.qs_ID"></br>
             
                        <input type="text" class="form-control input-sm text-center" placeholder="Nomination" ng-model="formData.qs_answer"></br>
             
                  
 
                    </div>

                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <button type="submit" class="btn btn-primary btn-xs" ng-click="Answer()">Submit</button>
                </form>
            </div>
            

            
        </div>
        
		
        
	

