<nav class="navbar navbar-default">
  <div class="container-fluid">
 
          <div class="navbar-form navbar-left">

            <h5>Current athletes: {{ athletes.length }}</h5>
          </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		
		  <form class="navbar-form navbar-right">
					<input type="text" ng-model="search" class="form-control input-xs" placeholder="Search">
		  </form>

	</div>
  </div><!-- /.container-fluid -->
</nav>

	<div class="panel panel-success">
		<div class="panel-heading">
		  <table class="table table-condensed">
			<thead>
				
				<th><small>athlete</small></th>
				<th><small>Speciality</small></th>
				<th><small>Email</small></th>
				<th><small>Telephone</small></th>
				<th><small>Location</small></th>
		  
			</thead>

		   <tbody ng-repeat="athlete in race|filter:search">
			  <tr>
				
		 
				<td ng-hide="athlete.edit"><h6><small><div class="newline">{{athlete.athlete_name}}</div></small></h6></td>
				<td ng-show="athlete.edit"><h6><small><input type="text" ng-model="athlete.athlete_name"></small></h6></td>
		 
								<td ng-hide="athlete.edit"><h3><small>{{athlete.mb_tag}}</small></h3></td>
								<td ng-show="athlete.edit"><h3><small><input type="text" ng-model="athlete.mb_tag"></small></h3></td>

								<td ng-hide="athlete.edit"><h6><small>{{athlete.mb_distance}}</small></h6></td>
								<td ng-show="athlete.edit"><h6><small><input type="text" ng-model="athlete.mb_distance"></small></h6></td>

								<td ng-hide="athlete.add"><h6><small>{{athlete.race_date}}</small></h6></td>
								<td ng-show="athlete.add"><h6><small><input type="text" ng-model="athlete.race_date"></small></h6></td>

		   

			        <td ng-hide="athlete.edit"> 
					  <a href="" class="fa fa-file-text-o" ng-click="showM(1,'Legal',getRealIndex(athlete),'1')"></a>
					  <a href="" class="fa fa-envelope-o" ng-click="showM(2,'Legal',getRealIndex(athlete),'1')"></a>
					  <a href="" class="fa fa-edit" ng-click="toggleEdit(getRealIndex(athlete))"></a>
					  <a href=""  class="fa fa-trash-o" ng-click="deleteResource(athlete._id)"></a>
					</td>
					<td ng-show="athlete.edit">
					  <a href="" class="fa fa-save" ng-click="updateResource(getRealIndex(athlete))"></a>
					  <a href="" class="fa fa-undo" ng-click="toggleEdit(getRealIndex(athlete))"></a>
					</td>
			  </tr>
			</tbody>
			
			</table>
		</div>
	</div>

        <!-- FORM TO CREATE TODOS -->
        <div id="company-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-sm text-center" placeholder="Athlete Name" ng-model="formData.athlete_name"></br>
                        <input type="text" class="form-control input-sm text-center" placeholder="Athlete Tag" ng-model="formData.mb_tag"></br>
                        <input type="text" class="form-control input-sm text-center" placeholder="Race Distance" ng-model="formData.race_distance"></br>
                        <input type="text" class="form-control input-sm text-center" placeholder="Race Date" ng-model="formData.race_date"></br>
          
                    </div>

                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <button type="submit" class="btn btn-primary btn-xs" ng-click="createAthlete()">Add</button>
                </form>
            </div>
        </div>
        


