<div class="panel panel-success">
        <!-- HEADER AND TODO COUNT -->
        <div class="panel-heading">
        <p class="bg-primary">
            <h4>Current hardware units <span class="label label-info">{{ hardwares.length }}</span></h4>
        </p>
        </div>
		<form class="form-inline">
			<div class="form-group">
				<input type="text" ng-model="search" class="form-control input-xs" placeholder="Search">
			</div>
		</form>
	</div>

  <table class="table table-striped table-hover table-condensed">
    <thead>
      <th>Person No</th>
      <th>Asset No</th>
      <th>Asset Name</th>
      <th>Purchase Date</th>
     </thead>

   <tbody>
      <tr ng-repeat="hardware in hardwares">
        <td ng-hide="hardware.edit">{{hardware.PersonNo}}</td>
        <td ng-show="hardware.edit"><input type="text" ng-model="hardware.PersonNo"></td>
 
        <td ng-hide="hardware.edit">{{hardware.AssetNo}}</td>
        <td ng-show="hardware.edit"><input type="text" ng-model="hardware.AssetNo"></td>
 
        <td ng-hide="hardware.edit">{{hardware.AssetName}}</td>
        <td ng-show="hardware.edit"><input type="text" ng-model="hardware.AssetName"></td>
 
        <td ng-hide="hardware.edit">{{hardware.PurchaseDate | date: "dd-MM-yyyy"}}</td>
        <td ng-show="hardware.edit"><input type="text" ng-model="hardware.PurchaseDate"></td>
 
      
        <td ng-hide="hardware.edit">
          <a href="" class="fa fa-edit" ng-click="toggleEdit($index)"></a>
          <a href=""  class="fa fa-trash-o" ng-click="deleteHardware(hardware._id)"></a>
        </td>
        <td ng-show="hardware.edit">
          <a href="" class="fa fa-save" ng-click="updateHardware($index)"></a>
          <a href="" class="fa fa-undo" ng-click="toggleEdit($index)"></a>
        </td>
      </tr>
    </tbody>
    
    </table>

        <!-- FORM TO CREATE TODOS -->
        <div id="hardware-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="Resource No" ng-model="formData.resource_no"></br>
                        <input type="text" class="form-control input-lg text-center" placeholder="Asset No" ng-model="formData.asset_no"></br>
                        <input type="text" class="form-control input-lg text-center" placeholder="Asset Name" ng-model="formData.asset_name"></br>
                        <input type="date" class="form-control input-lg text-center" placeholder="VAsset Purchase Date" ng-model="formData.asset_pdate"></br>
     
                    </div>

                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <button type="submit" class="btn btn-primary" ng-click="createHardware()">Add</button>
                </form>
            </div>
        </div>
        
        </div>
