<div class="panel panel-success">
        <!-- HEADER AND TODO COUNT -->
        <div class="panel-heading">
        <p class="bg-primary">
            <h4>MAC Member System</h4>
        </p>
        </div>
</div>
<div ng-controller="LoginController">
    <form method="post">
        <div class="form-group">
            <label for="username">Email</label>
            <input type="text" name="email" id="email" ng-model="locals.email" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" ng-model="locals.password" class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-click="login()">Login</button>
            <a href="#register" class="btn btn-link">Register</a>
        </div>
        <h4><small><center><b>{{feedback}}</b></center></small></h4>
    </form>
</div>
