<div class="panel panel-success">
        <!-- HEADER AND TODO COUNT -->

        <div class="panel-heading">
			<p class="bg-primary">
            <h6><strong>MFI</strong></h6>
			</p>
        </div>
</div>

	<div class="panel panel-success">
		<div class="panel-heading">
		  <table class="table table-condensed">
			<thead>
				
				<th><small>MFI Description</small></th>
				<th><small>Action</small></th>
				
						  
			</thead>

		   <tbody>

			  <tr>
				<td ><h6><small>Send Patient Details</small></h6></td>
				<td ><h6><small><a href="" class="fa fa-share" ng-click="sendPatients()"></a></small></h6></td>
			  </tr>
			  			
			  <tr>
				<td ><h6><small>Retrieve Medical Aid Details</small></h6></td>
				<td ><h6><small><a href="" class="fa fa-reply" ng-click="getMedAid()"></a></small></h6></td>
			  </tr>
			
			  <tr>
				<td ><h6><small>Retrieve ICD10 Classifications</small></h6></td>
				<td ><h6><small><a href="" class="fa fa-reply" ng-click="getICD10()"></a></small></h6></td>
			  </tr>
			
			<tr>
				<td ><h6><small>Retrieve Consumables Classifications</small></h6></td>
				<td ><h6><small><a href="" class="fa fa-reply" ng-click="getConsumables()"></a></small></h6></td>
			  </tr>
			
			</tbody>
			
			</table>
		</div>
	</div>

        


