




							  <button id="checkout-button" class="btn btn-primary btn-xs" ng-click="payAmount()">Pay</button>
							  
							  <form id="payment-form" method="POST">
								  <div class="one-liner">
									<div id="card-frame">
									</div>
									<button id="pay-button">
									  PAY ZAR 24.99
									</button>
								  </div>
								  <p class="success-payment-message" />
								</form>





							  <table class="table table-condensed" style="border:0px green solid;">
								  <thead class="macWS">
								  <th><small>Product</small></th>
								  <th><small>Description</small></th>

								  <th><small>Price</small></th>
								  <th><small>Actions</small></th>

								  </thead>

								  <tbody ng-repeat="product in products|filter:search">
								  <tr>

										<td>
												<div class="card thumbnail">
													<img class="card-img-top shop-image  img-fluid" src="{{ product.imagePath }}" alt="Card image cap">
												</div>
										</td>
									  	<td>
											  <div class="card-block">
												  <h4 class="macWS">{{ product.title }}</h4>
												  <p class="macWS">
													  {{ product.description }}
												  </p>

											  </div>
									  	</td>
									  	<td>
											  <div class="clearfix">
										  		<div class="macWS">{{ product.price }}</div>
											  </div>
										</td>
									  	<td>
										<!--  <a href="" class="fa fa-file-text-o" ng-click="showM(1,'Legal',getRealIndex(athlete),'1')"></a>
										  <a href="" class="fa fa-envelope-o" ng-click="showM(2,'Legal',getRealIndex(athlete),'1')"></a>
										  <a href="" class="fa fa-edit" ng-click="toggleEdit(getRealIndex(athlete))"></a>
										  <a href=""  class="fa fa-trash-o" ng-click="deleteResource(athlete._id)"></a>

										  //-->
										  <a href="/cart/add-to-cart/{{product._id}}" class="btn btn-raised btn-success pull-right">
											  <i class="fa fa-gift" aria-hidden="true"></i> Add to cart
										  </a>
									  	</td>
								  </tbody>

							  </table>
